In [64]:
import pandas as pd
import numpy as np
from functools import reduce

In [86]:
# reminder: on a new session, for this to work, run scraper.ipynb first
%store -r zip_codes
# ['21201', '21202', '21203', '21205', '21206', '21209', '21210', 
# '21211', '21212', '21213', '21214', '21215', '21216', '21217', 
# '21218', '21223', '21224', '21225', '21229', '21230', '21231', 
# '21233', '21239', '21270', '21279', '21281', '21297']

In [67]:
def filter_and_clean_df(df, columns_to_drop):
  filtered_df = df[(df['geo_level'] == 'zcta') & (df['geo_name'].isin(zip_codes)) 
                # | (df['geo_level'] == 'county') & (df['geo_name'].str.contains('Baltimore city'))
              ]

  if filtered_df.empty:
    filtered_df = df[(df['geo_level'] == 'county') & (df['geo_name'].str.contains('Baltimore city'))]

  cleaned_df = filtered_df.drop(columns=columns_to_drop)

  cleaned_df.dropna(inplace=True)

  cleaned_df.reset_index(drop=True, inplace=True)

  return cleaned_df

In [68]:
df = pd.read_csv('..\\bwdc_datasets\\health_insurance_coverage.csv')

df

,geo_level,geo_name,year,state_name,pct_black_alone,pct_with_health_insurance,pct_with_health_insurance_white_alone,pct_with_health_insurance_black_alone,pct_with_health_insurance_asian_alone,pct_with_health_insurance_hispanic,quartiles_pct_with_health_insurance
0,zcta,27877,2022,NaN,100.0,50.0,NaN,50.0,NaN,NaN,Bottom 25% of geographies
1,zcta,77036,2022,NaN,11.6,52.0,61.7,66.4,78.8,42.0,Bottom 25% of geographies
2,zcta,77074,2022,NaN,13.4,62.0,73.2,79.4,81.9,49.6,Bottom 25% of geographies
3,zcta,76059,2022,NaN,2.4,68.0,64.1,89.2,80.1,53.5,Bottom 25% of geographies
4,zcta,31622,2022,NaN,11.7,68.0,68.7,65.9,NaN,0.0,Bottom 25% of geographies
...,...,...,...,...,...,...,...,...,...,...,...
36781,zcta,07830,2022,NaN,3.8,99.7,100.0,100.0,100.0,100.0,Top 25% of geographies
36782,zcta,02142,2022,NaN,6.4,99.7,99.6,100.0,99.7,100.0,Top 25% of geographies
36783,zcta,97753,2022,NaN,1.2,99.7,100.0,100.0,NaN,81.7,Top 25% of geographies
36784,zcta,01543,2022,NaN,0.7,99.7,99.7,100.0,100.0,100.0,Top 25% of geographies
36785,zcta,07702,2022,NaN,0.6,99.7,100.0,100.0,100.0,86.7,Top 25% of geographies

In [69]:
columns_to_drop = ['geo_level', 'year', 'state_name', 'pct_with_health_insurance_white_alone', 'pct_with_health_insurance_asian_alone', 'pct_with_health_insurance_hispanic', 'quartiles_pct_with_health_insurance']

health_insurance_coverage = filter_and_clean_df(df, columns_to_drop)

health_insurance_coverage

,geo_name,pct_black_alone,pct_with_health_insurance,pct_with_health_insurance_black_alone
0,21211,9.0,96.0,93.2
1,21239,76.8,96.0,95.9
2,21205,63.4,93.0,96.0
3,21229,74.2,94.5,94.7
4,21201,54.6,96.3,95.3
5,21209,21.8,96.3,93.9
6,21217,82.1,93.3,92.6
7,21212,37.4,97.3,97.3
8,21213,87.6,94.3,94.6
9,21224,13.9,90.8,94.4
10,21218,60.2,94.8,93.9
11,21202,53.6,94.8,93.5
12,21231,26.0,97.1,98.4
13,21216,93.2,94.1,94.5
14,21223,74.1,92.4,93.7
15,21225,43.6,91.4,92.9
16,21230,26.8,93.7,94.9
17,21210,15.7,97.7,94.9
18,21206,72.0,95.2,96.2
19,21214,58.9,95.2,94.8
20,21215,75.2,95.2,94.7

In [70]:
df = pd.read_csv('..\\bwdc_datasets\\high_speed_broadband_internet_usage.csv')

df

,geo_level,geo_name,year,state_name,pct_black_alone,microsoft_broadband_usage_oct_2020,quartiles_microsoft_broadband_usage_oct_2020
0,county,"Fairfax city, Virginia",2022,Virginia,5.9,NaN,NaN
1,county,"Southeastern Connecticut Planning Region, Conn...",2022,Connecticut,5.8,NaN,NaN
2,county,"Covington city, Virginia",2022,Virginia,13.5,NaN,NaN
3,county,"Northeastern Connecticut Planning Region, Conn...",2022,Connecticut,1.7,NaN,NaN
4,county,"Lexington city, Virginia",2022,Virginia,5.2,NaN,NaN
...,...,...,...,...,...,...,...
3139,county,"Adair County, Iowa",2022,Iowa,0.6,18.8,Bottom 25% of geographies
3140,county,"Edwards County, Illinois",2022,Illinois,0.1,18.8,Bottom 25% of geographies
3141,county,"Sullivan County, Missouri",2022,Missouri,3.2,18.8,Bottom 25% of geographies
3142,county,"Phillips County, Arkansas",2022,Arkansas,62.2,18.8,Bottom 25% of geographies
3143,county,"Greene County, Alabama",2022,Alabama,81.8,1.3,Bottom 25% of geographies

In [71]:
columns_to_drop = ['geo_level', 'year', 'state_name', 'pct_black_alone', 'quartiles_microsoft_broadband_usage_oct_2020']

high_speed_broadband_internet_usage = filter_and_clean_df(df, columns_to_drop)

high_speed_broadband_internet_usage

                   geo_name  microsoft_broadband_usage_oct_2020
0  Baltimore city, Maryland                                59.1

In [72]:
df = pd.read_csv('..\\bwdc_datasets\\home_ownership_rate.csv')

df

,geo_level,geo_name,year,state_name,pct_black_alone,pop_black_alone,pct_homeownership,pct_homeownership_white_alone,pct_homeownership_black_alone,pct_homeownership_asian_alone,pct_homeownership_hispanic,quartiles_pct_homeownership,pct_change_16_to_22_pct_homeownership_black_alone,buckets_pct_change_16_to_22_pct_homeownership_black_alone
0,zcta,82335,2022,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No comparable data available
1,zcta,20045,2022,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No comparable data available
2,zcta,76402,2022,NaN,3.9,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No comparable data available
3,zcta,83121,2022,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No comparable data available
4,zcta,79846,2022,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No comparable data available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36781,zcta,45864,2022,NaN,1.3,2,95.7,95.7,NaN,NaN,NaN,Top 25% of geographies,NaN,No comparable data available
36782,zcta,28447,2022,NaN,43.9,605,95.7,95.4,96.0,NaN,100.0,Top 25% of geographies,-4.0,-0.1 to -4.9
36783,zcta,08088,2022,NaN,1.6,372,95.7,96.0,90.1,100.0,90.1,Top 25% of geographies,14.2,5.0 or more
36784,zcta,21036,2022,NaN,3.4,74,95.7,96.0,77.1,100.0,100.0,Top 25% of geographies,-22.1,-5.0 or less
36785,zcta,49306,2022,NaN,1.0,108,95.7,96.2,100.0,100.0,83.5,Top 25% of geographies,4.4,0.1 to 4.9

In [73]:
columns_to_drop = ['geo_level', 'year', 'state_name', 'pct_black_alone', 'pct_homeownership_white_alone', 'pct_homeownership_asian_alone', 'pct_homeownership_hispanic', 'quartiles_pct_homeownership', 'pct_change_16_to_22_pct_homeownership_black_alone', 'buckets_pct_change_16_to_22_pct_homeownership_black_alone']

home_ownership_rate = filter_and_clean_df(df, columns_to_drop)

home_ownership_rate

   geo_name  pop_black_alone  pct_homeownership  pct_homeownership_black_alone
0     21210             2355               62.0                           29.7
1     21231             3849               35.0                           16.9
2     21229            32897               55.0                           51.0
3     21201             9987               11.1                            9.5
4     21215            40376               54.4                           53.5
5     21212            12664               68.8                           52.6
6     21225            15200               51.9                           30.3
7     21211             1439               53.9                           22.6
8     21239            21814               56.3                           55.5
9     21205             9308               34.8                           31.6
10    21216            26459               48.8                           47.9
11    21230             8826               50.8                           35.2
12    21206            36754               54.8                           47.7
13    21223            15367               33.3                           25.4
14    21209             6541               57.3                           30.5
15    21202            10790               22.9                           17.9
16    21218            28007               48.7                           45.2
17    21214            12665               77.9                           70.6
18    21217            25980               31.6                           31.7
19    21224             6254               61.2                           35.3
20    21213            25295               55.1                           53.1

In [74]:
df = pd.read_csv('..\\bwdc_datasets\\number_of_loan_apps.csv')

df.head()

,geo_level,geo_name,state_name,approval_fiscal_year,loan_type,pct_black_alone,number_of_loans,loan_amount,quartiles_number_of_loans,quartiles_loan_amount,percentile_number_of_loans,percentile_loan_amount
0,zip,28805,NaN,2010,7(a) Loans,9.7,1,5000,Bottom 25% of geographies,Bottom 25% of geographies,0,0
1,zip,32159,NaN,2010,7(a) Loans,3.9,1,5000,Bottom 25% of geographies,Bottom 25% of geographies,0,0
2,zip,27605,NaN,2010,7(a) Loans,9.4,1,5000,Bottom 25% of geographies,Bottom 25% of geographies,0,0
3,county,"Cherokee County, South Carolina",South Carolina,2010,7(a) Loans,19.7,1,5000,Bottom 25% of geographies,Bottom 25% of geographies,0,0
4,zip,70175,NaN,2010,All,24.9,1,5000,Bottom 25% of geographies,Bottom 25% of geographies,0,0

In [75]:
columns_to_drop = ['state_name']

number_of_loan_apps = filter_and_clean_df(df, columns_to_drop)

number_of_loan_apps

,geo_level,geo_name,approval_fiscal_year,loan_type,pct_black_alone,number_of_loans,loan_amount,quartiles_number_of_loans,quartiles_loan_amount,percentile_number_of_loans,percentile_loan_amount
0,county,"Baltimore city, Maryland",2010,All,61.2,66,13690300,Top 25% of geographies,Top 25% of geographies,92,90
1,county,"Baltimore city, Maryland",2010,7(a) Loans,61.2,62,12652300,Top 25% of geographies,Top 25% of geographies,93,91
2,county,"Baltimore city, Maryland",2010,504 Loans,61.2,4,1038000,51-75% of geographies,26-50% of geographies,66,50
3,county,"Baltimore city, Maryland",2011,7(a) Loans,61.2,80,27055500,Top 25% of geographies,Top 25% of geographies,93,93
4,county,"Baltimore city, Maryland",2011,All,61.2,88,33699500,Top 25% of geographies,Top 25% of geographies,93,93
5,county,"Baltimore city, Maryland",2011,504 Loans,61.2,8,6644000,Top 25% of geographies,Top 25% of geographies,79,85
6,county,"Baltimore city, Maryland",2012,7(a) Loans,61.2,61,23414000,Top 25% of geographies,Top 25% of geographies,92,94
7,county,"Baltimore city, Maryland",2012,All,61.2,71,31936000,Top 25% of geographies,Top 25% of geographies,92,94
8,county,"Baltimore city, Maryland",2012,504 Loans,61.2,10,8522000,Top 25% of geographies,Top 25% of geographies,81,85
9,county,"Baltimore city, Maryland",2013,All,61.2,70,37728400,Top 25% of geographies,Top 25% of geographies,92,94
10,county,"Baltimore city, Maryland",2013,7(a) Loans,61.2,65,32950400,Top 25% of geographies,Top 25% of geographies,93,95
11,county,"Baltimore city, Maryland",2013,504 Loans,61.2,5,4778000,51-75% of geographies,Top 25% of geographies,70,79
12,county,"Baltimore city, Maryland",2014,All,61.2,87,31477600,Top 25% of geographies,Top 25% of geographies,93,93
13,county,"Baltimore city, Maryland",2014,504 Loans,61.2,2,2697000,26-50% of geographies,51-75% of geographies,39,69
14,county,"Baltimore city, Maryland",2014,7(a) Loans,61.2,85,28780600,Top 25% of geographies,Top 25% of geographies,94,93
15,county,"Baltimore city, Maryland",2015,All,61.2,99,32965100,Top 25% of geographies,Top 25% of geographies,93,93
16,county,"Baltimore city, Maryland",2015,504 Loans,61.2,4,3363000,51-75% of geographies,51-75% of geographies,66,73
17,county,"Baltimore city, Maryland",2015,7(a) Loans,61.2,95,29602100,Top 25% of geographies,Top 25% of geographies,94,93
18,county,"Baltimore city, Maryland",2016,All,61.2,104,24665300,Top 25% of geographies,Top 25% of geographies,93,90
19,county,"Baltimore city, Maryland",2016,504 Loans,61.2,2,2048000,26-50% of geographies,51-75% of geographies,37,59
20,county,"Baltimore city, Maryland",2016,7(a) Loans,61.2,102,22617300,Top 25% of geographies,Top 25% of geographies,94,91
21,county,"Baltimore city, Maryland",2017,504 Loans,61.2,3,4376000,51-75% of geographies,Top 25% of geographies,54,76
22,county,"Baltimore city, Maryland",2017,All,61.2,94,32384700,Top 25% of geographies,Top 25% of geographies,93,92
23,county,"Baltimore city, Maryland",2017,7(a) Loans,61.2,91,28008700,Top 25% of geographies,Top 25% of geographies,93,92
24,county,"Baltimore city, Maryland",2018,504 Loans,61.2,2,4793000,26-50% of geographies,Top 25% of geographies,41,79
25,county,"Baltimore city, Maryland",2018,7(a) Loans,61.2,117,31780300,Top 25% of geographies,Top 25% of geographies,95,92
26,county,"Baltimore city, Maryland",2018,All,61.2,119,36573300,Top 25% of geographies,Top 25% of geographies,95,92
27,county,"Baltimore city, Maryland",2019,504 Loans,61.2,3,1238000,51-75% of geographies,26-50% of geographies,55,46
28,county,"Baltimore city, Maryland",2019,All,61.2,109,27745300,Top 25% of geographies,Top 25% of geographies,94,91
29,county,"Baltimore city, Maryland",2019,7(a) Loans,61.2,106,26507300,Top 25% of geographies,Top 25% of geographies,95,92

In [76]:
all_loans_avg_amount = number_of_loan_apps[number_of_loan_apps['loan_type'] == 'All']['loan_amount'].mean()
loans_7a_avg_amount = number_of_loan_apps[number_of_loan_apps['loan_type'] == '7(a) Loans']['loan_amount'].mean()
loans_504_avg_amount = number_of_loan_apps[number_of_loan_apps['loan_type'] == '504 Loans']['loan_amount'].mean()

all_loans_avg_number = number_of_loan_apps[number_of_loan_apps['loan_type'] == 'All']['number_of_loans'].mean()
loans_7a_avg_number = number_of_loan_apps[number_of_loan_apps['loan_type'] == '7(a) Loans']['number_of_loans'].mean()
loans_504_avg_number = number_of_loan_apps[number_of_loan_apps['loan_type'] == '504 Loans']['number_of_loans'].mean()

# create new df with averages
averages_df = pd.DataFrame({
    'loan_type': ['All', '7(a) Loans', '504 Loans'],
    'average_loan_amount': [all_loans_avg_amount, loans_7a_avg_amount, loans_504_avg_amount],
    'average_number_of_loans': [all_loans_avg_number, loans_7a_avg_number, loans_504_avg_number]
})

averages_df

    loan_type  average_loan_amount  average_number_of_loans
0         All           30286550.0                     90.7
1  7(a) Loans           26336850.0                     86.4
2   504 Loans            3949700.0                      4.3

In [77]:
df = pd.read_csv('..\\bwdc_datasets\\percent_broadband_internet_subscription_by_households.csv')

df

,geo_level,geo_name,year,state_name,pct_black_alone,pct_hh_with_broadband_internet_subscriptions,pct_hh_with_broadband_internet_subscriptions_white_alone,pct_hh_with_broadband_internet_subscriptions_black_alone,pct_hh_with_broadband_internet_subscriptions_asian_alone,pct_hh_with_broadband_internet_subscriptions_hispanic,quartiles_pct_hh_with_broadband_internet_subscriptions
0,zcta,27841,2022,NaN,100.0,11.5,NaN,11.5,NaN,NaN,Bottom 25% of geographies
1,zcta,46740,2022,NaN,0.2,42.0,40.3,70.0,NaN,100.0,Bottom 25% of geographies
2,zcta,27847,2022,NaN,89.7,42.0,69.2,38.6,100.0,100.0,Bottom 25% of geographies
3,zcta,74839,2022,NaN,6.3,48.0,43.3,54.2,NaN,61.8,Bottom 25% of geographies
4,zcta,27853,2022,NaN,32.6,48.0,73.9,21.9,NaN,NaN,Bottom 25% of geographies
...,...,...,...,...,...,...,...,...,...,...,...
36781,zcta,32508,2022,NaN,14.9,99.7,99.5,100.0,100.0,100.0,Top 25% of geographies
36782,zcta,22039,2022,NaN,5.7,99.7,99.6,100.0,100.0,100.0,Top 25% of geographies
36783,zcta,08553,2022,NaN,1.1,99.7,99.7,100.0,100.0,96.4,Top 25% of geographies
36784,zcta,80951,2022,NaN,17.4,99.7,99.8,100.0,100.0,100.0,Top 25% of geographies
36785,zcta,34289,2022,NaN,13.7,99.7,99.7,100.0,NaN,100.0,Top 25% of geographies

In [78]:
columns_to_drop = ['geo_level', 'year', 'state_name', 'pct_black_alone', 'pct_hh_with_broadband_internet_subscriptions_white_alone', 'pct_hh_with_broadband_internet_subscriptions_asian_alone', 'pct_hh_with_broadband_internet_subscriptions_hispanic', 'quartiles_pct_hh_with_broadband_internet_subscriptions']

percent_broadband_internet_subscription_by_households = filter_and_clean_df(df, columns_to_drop)

percent_broadband_internet_subscription_by_households

,geo_name,pct_hh_with_broadband_internet_subscriptions,pct_hh_with_broadband_internet_subscriptions_black_alone
0,21205,77.5,79.1
1,21217,77.5,75.2
2,21210,97.5,98.0
3,21202,86.0,77.8
4,21206,91.5,91.1
5,21209,88.3,84.8
6,21214,92.8,93.1
7,21230,89.3,81.7
8,21231,91.3,90.0
9,21212,93.6,88.7
10,21239,90.1,88.5
11,21225,82.6,78.2
12,21201,82.6,76.3
13,21215,75.1,71.3
14,21213,87.1,86.8
15,21218,85.4,79.0
16,21211,89.4,81.8
17,21224,89.4,84.2
18,21229,85.9,83.9
19,21223,82.2,83.3
20,21216,67.7,68.4

In [79]:
df = pd.read_csv('..\\bwdc_datasets\\rate_of_bachelors_or_higher.csv')

df

,geo_level,geo_name,year,state_name,pct_black_alone,pct_bach_degree_or_higher_white_alone,pct_bach_degree_or_higher_black_alone,pct_bach_degree_or_higher_asian_alone,pct_bach_degree_or_higher_hispanic,quartiles_pct_bach_degree_or_higher_white_alone,quartiles_pct_bach_degree_or_higher_black_alone,quartiles_pct_bach_degree_or_higher_asian_alone,quartiles_pct_bach_degree_or_higher_hispanic
0,zcta,77412,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,zcta,95480,2022,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,zcta,44232,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,zcta,66506,2022,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,zcta,75261,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36781,county,"Newton County, Texas",2022,Texas,18.4,7.9,1.4,0.0,4.0,Bottom 25% of geographies,Bottom 25% of geographies,Bottom 25% of geographies,Bottom 25% of geographies
36782,zcta,27938,2022,NaN,44.6,9.8,4.9,0.0,0.0,Bottom 25% of geographies,26-50% of geographies,Bottom 25% of geographies,Bottom 25% of geographies
36783,zcta,23040,2022,NaN,44.0,11.7,9.3,13.0,0.0,Bottom 25% of geographies,26-50% of geographies,Bottom 25% of geographies,Bottom 25% of geographies
36784,zcta,31553,2022,NaN,3.9,13.7,12.4,0.0,0.0,Bottom 25% of geographies,26-50% of geographies,Bottom 25% of geographies,Bottom 25% of geographies
36785,zcta,21890,2022,NaN,67.0,1.5,0.9,0.0,0.0,Bottom 25% of geographies,26-50% of geographies,Bottom 25% of geographies,Bottom 25% of geographies

In [80]:
columns_to_drop = ['geo_level', 'year', 'state_name', 'pct_black_alone', 'pct_bach_degree_or_higher_white_alone', 'pct_bach_degree_or_higher_asian_alone', 'pct_bach_degree_or_higher_hispanic', 'quartiles_pct_bach_degree_or_higher_white_alone', 'quartiles_pct_bach_degree_or_higher_black_alone', 'quartiles_pct_bach_degree_or_higher_asian_alone', 'quartiles_pct_bach_degree_or_higher_hispanic']

rate_of_bachelors_or_higher = filter_and_clean_df(df, columns_to_drop)

rate_of_bachelors_or_higher

   geo_name  pct_bach_degree_or_higher_black_alone
0     21223                                    7.2
1     21205                                   12.4
2     21206                                   24.0
3     21229                                   17.1
4     21216                                   14.1
5     21214                                   33.9
6     21217                                   13.4
7     21230                                   24.1
8     21239                                   23.8
9     21212                                   20.8
10    21215                                   19.3
11    21224                                   29.0
12    21211                                   30.1
13    21202                                   22.5
14    21231                                   23.4
15    21210                                   45.7
16    21209                                   30.3
17    21218                                   23.8
18    21201                                   16.8
19    21213                                   17.2
20    21225                                   12.0

In [81]:
# list of DataFrames to merge
dfs = [health_insurance_coverage, 
    # high_speed_broadband_internet_usage, 
    home_ownership_rate, 
    # number_of_loan_apps, 
    percent_broadband_internet_subscription_by_households, rate_of_bachelors_or_higher]

# merge dfs
merged_df = reduce(lambda left, right: pd.merge(left, right, on='geo_name', how='inner'), dfs)

merged_df

,geo_name,pct_black_alone,pct_with_health_insurance,pct_with_health_insurance_black_alone,pop_black_alone,pct_homeownership,pct_homeownership_black_alone,pct_hh_with_broadband_internet_subscriptions,pct_hh_with_broadband_internet_subscriptions_black_alone,pct_bach_degree_or_higher_black_alone
0,21211,9.0,96.0,93.2,1439,53.9,22.6,89.4,81.8,30.1
1,21239,76.8,96.0,95.9,21814,56.3,55.5,90.1,88.5,23.8
2,21205,63.4,93.0,96.0,9308,34.8,31.6,77.5,79.1,12.4
3,21229,74.2,94.5,94.7,32897,55.0,51.0,85.9,83.9,17.1
4,21201,54.6,96.3,95.3,9987,11.1,9.5,82.6,76.3,16.8
5,21209,21.8,96.3,93.9,6541,57.3,30.5,88.3,84.8,30.3
6,21217,82.1,93.3,92.6,25980,31.6,31.7,77.5,75.2,13.4
7,21212,37.4,97.3,97.3,12664,68.8,52.6,93.6,88.7,20.8
8,21213,87.6,94.3,94.6,25295,55.1,53.1,87.1,86.8,17.2
9,21224,13.9,90.8,94.4,6254,61.2,35.3,89.4,84.2,29.0
10,21218,60.2,94.8,93.9,28007,48.7,45.2,85.4,79.0,23.8
11,21202,53.6,94.8,93.5,10790,22.9,17.9,86.0,77.8,22.5
12,21231,26.0,97.1,98.4,3849,35.0,16.9,91.3,90.0,23.4
13,21216,93.2,94.1,94.5,26459,48.8,47.9,67.7,68.4,14.1
14,21223,74.1,92.4,93.7,15367,33.3,25.4,82.2,83.3,7.2
15,21225,43.6,91.4,92.9,15200,51.9,30.3,82.6,78.2,12.0
16,21230,26.8,93.7,94.9,8826,50.8,35.2,89.3,81.7,24.1
17,21210,15.7,97.7,94.9,2355,62.0,29.7,97.5,98.0,45.7
18,21206,72.0,95.2,96.2,36754,54.8,47.7,91.5,91.1,24.0
19,21214,58.9,95.2,94.8,12665,77.9,70.6,92.8,93.1,33.9
20,21215,75.2,95.2,94.7,40376,54.4,53.5,75.1,71.3,19.3

In [82]:
percentage_columns = ['pct_black_alone', 'pct_with_health_insurance', 'pct_with_health_insurance_black_alone',
                      'pct_homeownership', 'pct_homeownership_black_alone',
                      'pct_hh_with_broadband_internet_subscriptions', 'pct_hh_with_broadband_internet_subscriptions_black_alone',
                      'pct_bach_degree_or_higher_black_alone']
merged_df[percentage_columns] = merged_df[percentage_columns].div(100)

In [83]:
merged_df.to_csv('..\\OutputFiles\\bwdc_merged_data.csv', index=False)

In [84]:
averages_df.to_csv('..\\OutputFiles\\bwdc_loans.csv', index=False)